body {
        background: gray !important;
        background-repeat:no-repeat;
        margin: 10px auto;
        padding:20px 20px 20px 20px;
        font-family: Arial;
}

.container-fluid {
        word-wrap: break-word;
}

.login_bar {
		background-color: #bbb;
        width: 40%;
}

input {
	min-width: 0;
}