 <html>
	<title>Home</title>
	<head>
	    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/story.css' %}">
	</head>
    <body>
        <center>
            <div class='login_bar'>
                {% if user.is_authenticated %}
                <br>
                <p class="h1">Hi Hi Hello Choushi wa Dou? {{ user.username }}! </p>
                <br>
                <p class="h2">Had enough?</p>
                <form action="{% url 'logout' %}">
                    <button type="submit" class="btn btn-light" id='logout_button'>logout</button>
                </form>
                {% else %}
                <br>
                <p class="h1">And who might you be? Care to tell us?</p>
                <form action="{% url 'login' %}">
                    <button type="submit" class="btn btn-light" id='login_button'>login</button>
                </form>
                {% endif %}
            </div>
        </center>

        <!-- Javascript -->
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    </body>     
</html>
